*, *::before,
*, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $roboto;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  color: $black;
  background-color: #fff;
  box-sizing: border-box;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1, h2, h3,
h4, h5, h6 {
  margin: 0;
}
.wrapper {
  overflow: hidden;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 23px 45px;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
  background-color: $blue;
  border-radius: 5px;
  border: none;
  &:hover {
    color: rgba(#fff, 0.8);
    opacity: 0.8;
  }
  &:active {
    opacity: 0.5;
  }
}
.section {
  padding: 78px 0;
}
.section-title {
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  @include tablets {
    font-size: 25px;
    line-height: 30px;
  }
  @include phones {
    font-size: 22px;
  }
}
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight {
  animation-name: slideInRight;
  animation-duration: 0.5s;
}
